html {
    background-color: #c8e8e9;
}

.header {
    width: 1450px;
    margin-top: 0px;
    margin-right: 0px;
    justify-content: center;
    display: block;


}




.footer2 {
    text-align: center;
    background-color: lightblue;
}

.footer {
    background-color: lightblue;
    background-size: 100%;
    width: 3000px;
}


.nav {
    margin-left: 0px;

}

.nav ul {
    display: flex;
    background-color: lightgreen;

}

.nav li {
    margin-left: 24px;
    display: flex;
}

.nav li a {
    padding: 6px 8px;
    display: block;
    line-height: 27px;
    font-size: 19px;
    text-decoration: none;
}

.container {
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px 60px 40px 40px;
    box-shadow: 0 5px 20px rgba(0, 0, 0 0.2);
}

.container.right-side {
    width: 75%;
    margin-left: 75px;
    justify-content: center;
}

.topic {
    font-size: 20px;
    font-weight: 600;
    color: #3e2093;

}

.input-box {
    height: 50px;
    width: 100%;
    margin: 12px, 1;



}




.input-box input,
.input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 6px;
    background-color: #f0f1f8;
    padding: 0 15px;
    resize: none;

}

.input-message-box {
    min-height: 110px;

}

.button [type="button"] {
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: #3e2093;
    transition: all 0.3s ease;


}

.button:hover {
    background-color: #5029bc;
    width: 10%;
}

.nav li active,
.nav li a:hover {
    border-bottom: 2px solid #00a4ff;
}

.information figure img {
    vertical-align: middle;
}

.Hobby p {
    text-align: justify;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    margin-left: 700px;

}

.More p {
    text-align: justify;
    font-size: 20px;
    font-family: 'Playpen Sans', cursive;

}

/*Prjoct design structure */

.project {

    padding: 10px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;

}

.project :nth-child(1) {


    padding: 10px;
    margin: 10px;

}

.project :nth-child(2) {


    padding: 10px;
    margin: 10px;

}

.project :nth-child(3) {


    padding: 10px;
    margin: 10px;

}

.project :nth-child(4) {


    padding: 10px;
    margin: 10px;

}

.project :nth-child(5) {


    padding: 10px;
    margin: 10px;

}

.project :nth-child(6) {


    padding: 10px;
    margin: 10px;


}

#{
 font-size: 12px;
color: black;


}

.Introduction h3 {
    text-align: center;
}

.Introduction h3 a {

    font-size: 12px;
    color: black;
    text-decoration: none;
}



.Introduction a active,
.Introduction a:hover {
    border-bottom: 2px solid #00a4ff;


}



.project-container {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.project-content {
    border: 5px solid #bebebe;
    width: 300px;
    display: flex;
    padding: 10px;
    margin: 10px;

}

.project-content2 {
    border: 5px solid #bebebe;
    width: 300px;
    display: flex;
    padding: 10px;
    margin: 10px;

}

.project-content3 {
    border: 5px solid #bebebe;
    width: 300px;
    display: flex;
    padding: 10px;
    margin: 10px;

}

.project-content4 {
    border: 5px solid #bebebe;
    width: 300px;
    display: flex;
    padding: 10px;
    margin: 10px;
}

.project-content5 {
    border: 5px solid #bebebe;
    width: 300px;
    display: flex;
    padding: 10px;
    margin: 10px;
}

.project-content6 {
    border: 5px solid #bebebe;
    width: 300px;
    display: flex;
    padding: 10px;
    margin: 10px;
}

.project-content7 {
    border: 5px solid #bebebe;
    width: 300px;
    display: flex;
    padding: 10px;
    margin: 10px;
}

.project-content8 {
    border: 5px solid #bebebe;
    width: 300px;
    display: flex;
    padding: 10px;
    margin: 10px;
}

.project-detail {
    border: 1px solid gainsboro;
    background-color: #bebebe;
    border-radius: 2ch;
}

.project-detail p {
    font-size: 19px;
    text-align: justify;
    margin: 10px;
    padding: 5px;

}


@media screen and (min-width:350px) {
    .header {
        width: 100%;
        display: block;
        padding: 2px;
        margin-top: 0px;
        margin-right: 0px;
        justify-content: center;
        display: block;


    }



    .nav li a {
        font-size: 11px;
        display: block;
        align-content: flex-end;
    }

    .More p {
        text-align: justify;
        font-size: 12px;
        font-family: 'Playpen Sans', cursive;
        margin: 10px;
        padding: 5px;

    }

    .Hobby p {
        text-align: justify;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        line-height: 30px;
        margin-left: 10px;
        margin-right: 10px;


    }

    .game :nth-last-child(1) {
        width: 280px;
        margin-right: 10px;
        padding: 10px;



    }

    .container {
        width: 100%;
    }

    .footer2 {
        font-size: 13px;


    }
}